Mappings:
  CWLogs:
    TomcatErrorLogGroup:
      LogFile: "/var/log/tomcat8/catalina.out"
      TimestampFormat: "%d/%b/%Y:%H:%M:%S %z"

Resources :
  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            "/tmp/cwlogs/conf.d/tomcat-errors.conf":
              content : |
                [tomcat-error_log]
                file = `{"Fn::FindInMap":["CWLogs", "TomcatErrorLogGroup", "LogFile"]}`
                log_group_name = TomcatErrorLogGroup
                log_stream_name = {instance_id}
                datetime_format = `{"Fn::FindInMap":["CWLogs", "TomcatErrorLogGroup", "TimestampFormat"]}`
              mode  : "000400"
              owner : root
              group : root

